ol,li{
   
    display: inline;
    padding: 70px;
}
#bar1{
    background-color: black;
    color:#DE6262;
    text-align: center;
    height: 30px;
    text-align: center;
}
* {
    box-sizing: border-box;
  }
th{
background-color: pink;

  }
  .menu {
    float: left;
    width: 220px;
    height: 50px;
    text-align: center;
  }
  #logo{
    opacity: 0.9;
    border-radius: 50px;
    width: 75px;
    height: 75px;
  }
  .menu a {
   
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100px;
    border-radius: 50px;
    margin-left: 60px;
    }
  .second-box{
    background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-decoration: none;

  }
  .newbar{
    box-sizing: border-box;
    text-decoration: none;
    background-color: black;
    color: #DE6262;
    opacity: 0.7;
    margin-left: 400px;
    border-radius: 30px;
    width: 500px;
    height: 120px;
    text-align: center;
    padding: 30px;
  }
  .copyright{
    
    box-sizing: border-box;
    background-color: black;
    color: #DE6262;
    text-align: center;
    padding: 10px;
  }
  
.search{
    background-color: #DE6262;
    opacity: 0.8;
    float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
  th,td{
    border: black;
    width: 30%;
    height: 60px;
  }
  th{
    color: black;
  }
.bg{
  background-color: black; 
}
.carousel-item{
    height: 30rem;
}
#images{
    height: 35rem;
}
#blank{
    height: 50px;
}
#image{
    width: 1263px ;
   
}
#menu-bar{
    background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-decoration: none;

    color:black;
    font-weight:500;
    height: 50px;
    padding-top: 10px;
    font-size: large;
}
a{
    color:inherit;
}